{% extends 'base.html.twig' %}

{% block page_title 'Movies' %}
{% block page_subtitle 'from opensubtitles' %}

{% block body %}
    <div class="example-wrapper">

        <ul>
            {% for route, description in {
                'app_browse': "Browse using APIPlatform with doctrine/postgres",
                'app_browse_meili': "Browse using API Platform / Meilisearch",
                'app_browse_dynamic': "Browse using Meilisearch without class",
                'imdb_test_cache': "Test the CSV Cache Adapter",
                'imdb_import': "Import using CSV Database",
                'import_with_parser': "Import using Parser",
                'test_parser': "Test Parser (@todo: create phpunit test in grid-group)",
                'survos_commands': "Run bin/console",
            } %}
                <li><a href="{{ path(route) }}">{{ description }}</a></li>

            {% endfor %}
        </ul>


    </div>
{% endblock %}
