{% extends 'base.html.twig' %}

{% block title %}Hello AppController!{% endblock %}

{% block body %}
<div class="example-wrapper">

    This friendly message is coming from:
    <ul>
        <li><a href="{{ path('app_browse') }}">Browse Movies</li>
    </ul>
</div>
{% endblock %}
