{% extends 'base.html.twig' %}

{% block title %}Hello AppController!{% endblock %}

{% block body %}

    <h3>Movie: {{ movie.primaryTitle }}</h3>

    {% set columns = [
        'imdbId',
        'primaryTitle',
        'year',
    ] %}
{#    {% component 'item_grid' with {data: movie} %}#}
{#    {% endcomponent %}#}
    <twig:item_grid :data="movie" :columns="columns">

    </twig:item_grid>

{% endblock %}
